# For next-auth
AUTH_SECRET=""
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

# These will be provided by Vercel.
# Need to be overridden in preview env to use this
# Neon test-db instead.
POSTGRES_PRISMA_URL="db-connection-string-with-pooling"
POSTGRES_URL_NON_POOLING="db-connection-string"

ENV="development"